<h1 mat-dialog-title>
    <span>{{provider.companyName}}</span>
    <span fxFlex></span>
    <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</h1>

<mat-dialog-content>

    <div class="gray-700" style="width: 150px;">Services</div>

    <div fxLayout="row wrap" fxLayoutGap="5px">
        <div class="service-badge-2 centered" 
            [style]="'background-color: ' + service.color + ';'" 
            *ngFor="let service of flatServices()">
            <mat-icon>
                {{service.icon}}
            </mat-icon>

            <br />

            <div class="name ellipsed-3">
                {{service.name}}
            </div>
        </div>
    </div>

    <div style="margin-top: 20px;">
        <p class="gray-700 justified" style="white-space: pre-wrap;">
            {{provider.description}}
        </p>
    </div>

    <div>
        <mat-icon class="green-a700" style="vertical-align: bottom;">public</mat-icon>
        <span [innerHTML]="provider.website! | linky" class="gray-700" style="margin-left: 5px;"></span>
    </div>

    <div style="margin-top: 15px;">
        <mat-icon class="green-a700" style="vertical-align: bottom;">phone</mat-icon>
        <a href="https://wa.me/{{provider.phone}}" class="gray-700" style="margin-left: 5px;">{{provider.phone}}</a>
    </div>
    
    <div style="margin-top: 15px;">
        <mat-icon class="green-a700" style="vertical-align: bottom;">email</mat-icon>
        <a [href]="'mailto: ' + provider.email" class="gray-700" style="margin-left: 5px;">{{provider.email}}</a>
    </div>

    <div style="margin-top: 15px;">
        <div class="gray-700" style="width: 150px;">Countries</div>
        <div>
            <ul class="gray-700">
                <li *ngFor="let c of provider.countries">{{c}}</li>
            </ul>
        </div>
    </div>

    <div style="margin-top: 15px;">
        <div class="gray-700" style="width: 150px;">Industries</div>
        <div>
            <ul class="gray-700">
                <li *ngFor="let ind of provider.industries">{{ind}}</li>
            </ul>
        </div>
    </div>
    
    <div style="margin-top: 15px;">
        <div class="gray-700" style="width: 150px;">External URLs</div>
        <div>
            <ul class="gray-700">
                <li *ngFor="let link of provider.extraUrls"><span [innerHTML]="link | linky"></span></li>
            </ul>
        </div>
    </div>

</mat-dialog-content>
