<mat-nav-list class="main-navlist">
    <a mat-list-item routerLink="/dashboard">
        <mat-icon style="margin-right: 25px;">dashboard</mat-icon>
        Dashboard
    </a>
    <a mat-list-item routerLink="/profile">
        <mat-icon style="margin-right: 25px;">person</mat-icon>
        Profile
    </a>
    <a mat-list-item routerLink="/history">
        <mat-icon style="margin-right: 25px;">timeline</mat-icon>
        My IMI History
    </a>
    <a mat-list-item routerLink="/map">
        <mat-icon style="margin-right: 25px;">public</mat-icon>
        IMI World Map
    </a>
</mat-nav-list>
