<div style="margin: 35px 25px;">

    <h1 class="bolder purple-700">
        IMI History
    </h1>

    <mat-card class="card-1" style="margin-bottom: 100px;">
        <mat-card-content style="padding: 50px;">
            
            <div #chartContainer></div>

            <div style="margin-left: 90px;">
                <mat-checkbox class="checkbox-1" [checked]="true" (change)="toggleLine('.line-0', $event.checked)">IMI</mat-checkbox>
                <mat-checkbox class="checkbox-2" [checked]="false" (change)="toggleLine('.line-1', $event.checked)">Product</mat-checkbox>
                <mat-checkbox class="checkbox-3" [checked]="false" (change)="toggleLine('.line-2', $event.checked)">Resources</mat-checkbox>
                <mat-checkbox class="checkbox-4" [checked]="false" (change)="toggleLine('.line-3', $event.checked)">Information</mat-checkbox>
                <mat-checkbox class="checkbox-5" [checked]="false" (change)="toggleLine('.line-4', $event.checked)">Organization</mat-checkbox>
                <mat-checkbox class="checkbox-6" [checked]="false" (change)="toggleLine('.line-5', $event.checked)">Innovation</mat-checkbox>
            </div>

        </mat-card-content>
    </mat-card>

</div>
