<mat-toolbar color="primary" class="mat-elevation-z8" style="position: relative; z-index: 5;">
    <!-- <a class="no-hover" routerLink="/" style="margin-right: 15px;">
        {{title}}
    </a> -->

    <a routerLink="/">
        <img src="./assets/IMI_LOGO_WHITE.png" width="130" />
    </a>

    <span style="margin-left: 50px;" *ngIf="sharedService.appUser$ | async as user">
        {{user.companyName}}
    </span>

    <span fxFlex></span>

    <ng-container *ngIf="auth.user$ | async as user; else loggedOut">
        <button mat-stroked-button [matMenuTriggerFor]="userMenu">
            <span>{{user.name!.split(' ')[0]}}</span>
            <mat-icon>expand_more</mat-icon>
        </button>
    
        <mat-menu #userMenu="matMenu">
            <!-- <button mat-menu-item routerLink="/profile">
                <mat-icon>settings</mat-icon>
                <span>Configuraciones</span>
            </button> -->
            <button mat-menu-item (click)="auth.logout({ returnTo: document.location.origin })">
                <mat-icon>exit_to_app</mat-icon>
                <span>Salir</span>
            </button>
        </mat-menu>
    </ng-container>

    <ng-template #loggedOut>
        <button mat-stroked-button (click)="auth.loginWithRedirect()">
            <span>Accede</span>
        </button>
    </ng-template>
</mat-toolbar>

<div fxLayout="row" class="radial-background">
    
    <!-- Side Navigation List -->
    <app-navlist fxFlex="20" *ngIf="sharedService.appUser$ | async"></app-navlist>
    
    <!-- Routed content -->
    <div fxFlex>
        <router-outlet></router-outlet>
    </div>
</div>