<div style="margin: 30px auto;" *ngIf="appUser">

    <!-- card with provider's services -->
    <ng-container *ngIf="userIsProvider">
        <h1 style="width: 92%; margin: 0 auto;">
            <span class="bolder purple-700">Your Services</span>
        </h1>

        <mat-card class="card-1"> 
            <mat-card-content style="padding: 30px;">

                <div class="centered" *ngIf="providerServices.length === 0">
                    <p class="gray-600 centered">
                        No services yet.
                    </p>

                    <a mat-raised-button color="accent" routerLink="/profile" >
                        Add a Service You Provide
                    </a>
                </div>
                
                <div fxLayout="row wrap" fxLayoutGap="5px">
                    <div class="service-badge-1 centered" 
                        [style]="'background-color: ' + service.color + ';'" 
                        *ngFor="let service of providerServices">
                        
                        <mat-icon>
                            {{service.icon}}
                        </mat-icon>
    
                        <br />
    
                        <div class="name ellipsed-3">
                            {{service.name}}
                        </div>
                    </div>
                </div>

            </mat-card-content>
        </mat-card>
    </ng-container>

    <!-- card with sliders and radar chart -->
    <h1 style="width: 92%; margin: 45px auto 0;">
        <span class="imi-score-label">
            Your IMI Score:
        </span>
        
        <span class="imi-score-value">
            {{imiScore | number : '1.2-2'}}
        </span>
    </h1>
    <app-imi-vars (onImiRecalculated)="setImiScore($event)"></app-imi-vars>
            
    <!-- cards with suggestions -->
    <ng-container *ngIf="!userIsProvider">
        <h2 class="bold gray-600" style="width: 92%; margin: 45px auto 10px;">
            Suggested companies
        </h2>
        <app-suggestions></app-suggestions>
    </ng-container>

</div>