<div class="gray-600 centered" style="width: 100%; margin: 30px 0 70px;" *ngIf="suggestions.length === 0">
    No suggestions
</div>

<div style="width: 93%; margin: 10px auto 30px;" fxLayout="row wrap" fxLayoutGap="15px">
    
    <mat-card class="card-2" *ngFor="let p of suggestions">
        <mat-card-title class="font-17">
            <a class="gray-50 link-hvr-underline ellipsed" (click)="openProviderDetailDialog(p)" [routerLink]="[]">
                {{p.companyName}}
            </a>
        </mat-card-title>

        <mat-card-content>
            <div class="badges" *ngIf="getFirst6Services(p.services) as first6">
                <mat-icon
                    *ngFor="let service of first6 | slice:0:5"
                    matTooltip="lol"
                    matTooltipPosition="above">
                    {{service.icon}}
                </mat-icon>

                <div style="float: right; height: 30px; line-height: 30px !important;" 
                    class="gray-300 font-12" *ngIf="first6.length > 5">
                    more...
                </div>
            </div>

            <div class="content-detail ellipsed">
                <mat-icon>public</mat-icon>
                <span class="link-hvr-underline" [innerHTML]="p.website! | linky" *ngIf="p.website"></span>
                <span class="gray-500" *ngIf="!p.website">(No data)</span>
            </div>

            <div class="content-detail ellipsed">
                <mat-icon>email</mat-icon>
                <a class="link-hvr-underline" [href]="'mailto: ' + p.email" *ngIf="p.email">{{p.email}}</a>
                <span class="gray-500" *ngIf="!p.email">(No data)</span>
            </div>

            <div class="content-detail ellipsed">
                <mat-icon>phone</mat-icon>
                <a class="link-hvr-underline" href="https://wa.me/51955088838" target="_blank">{{p.phone}}</a>
                <span class="gray-500" *ngIf="!p.phone">(No data)</span>
            </div>
            
        </mat-card-content>

    </mat-card>

</div>
