@use '@angular/material' as mat;
// @include mat.core();

$imi-ui-primary: mat.define-palette(mat.$deep-purple, A400, A200, A700);
$imi-ui-accent: mat.define-palette(mat.$green, A400, A200, A400);
$imi-ui-warn: mat.define-palette(mat.$red);

$imi-ui-theme: mat-light-theme($imi-ui-primary, $imi-ui-accent, $imi-ui-warn);

// @include mat.all-component-themes($imi-ui-theme);

.complete-signup-btn-company {
    background: mat-color($mat-light-green, A100);
    color: mat-color($mat-light-green, A100-contrast);
}

.complete-signup-btn-tech-provider {
    background: mat-color($mat-green, A200);
    color: mat-color($mat-green, A200-contrast);
}

.complete-signup-btn-academic {
    background: mat-color($mat-deep-purple, A100);
    color: mat-color($mat-deep-purple, A100-contrast);
}