<mat-card class="card-1">

    <mat-card-content fxLayout="row">

        <div fxFlex style="padding-top: 75px; margin-right: 60px; margin-left: 40px;">



            <div style="margin-bottom: 20px;">
                <button mat-button color="accent" (click)="disabledSliders = !disabledSliders;" *ngIf="disabledSliders">Edit values</button>

                <button mat-raised-button *ngIf="!disabledSliders" (click)="abrirPopup2()" style="margin-left: 5px;margin-left: 5px;background: #651fff;color: white;font-weight: 700;">Start</button>
                <app-imi-dialog-group *ngIf="mostrarPopup2" (cerrar)="cerrarPopup2($event)"></app-imi-dialog-group>

                <div style="margin-top: 10px;"></div>

                <button mat-raised-button (click)="disabledSliders = !disabledSliders;" style="margin-right: 5px;" *ngIf="!disabledSliders">Cancel</button>
                <button mat-raised-button color="accent" (click)="saveChanges()" *ngIf="!disabledSliders">Save Changes</button>

            </div>

            <mat-accordion multi>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title class="font-13 bold uppercase">
                            <mat-icon>design_services</mat-icon>
                            Product management
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="slider-container">
                        <mat-label>
                            <mat-icon>settings_suggest</mat-icon>
                            Product
                        </mat-label>
                        <mat-slider ngDefaultControl thumbLabel tickInterval="1" min="0" max="5" step="1"  [disabled]="disabledSliders">
                            <input matSliderThumb [(ngModel)]="sliderValues.value1">
                        </mat-slider>
                        <span class="score-slider">{{sliderValues.value1}}</span>
                    </div>

                    <div class="slider-container">
                        <mat-label>
                            <mat-icon>view_in_ar</mat-icon>
                            Design
                        </mat-label>
                        <mat-slider thumbLabel tickInterval="1" min="0" max="5" step="1" [disabled]="disabledSliders">
                            <input matSliderThumb [(ngModel)]="sliderValues.value2">
                        </mat-slider>
                        <span class="score-slider">{{sliderValues.value2}}</span>
                    </div>

                    <div class="slider-container">
                        <mat-label>
                            <mat-icon>precision_manufacturing</mat-icon>
                            Fabrication
                        </mat-label>
                        <mat-slider thumbLabel tickInterval="1" min="0" max="5" step="1" [disabled]="disabledSliders">
                            <input matSliderThumb [(ngModel)]="sliderValues.value3">
                        </mat-slider>
                        <span class="score-slider">{{sliderValues.value3}}</span>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title class="font-13 bold uppercase">
                            <mat-icon>filter_vintage</mat-icon>
                            Resources management
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="slider-container">
                        <mat-label>
                            <mat-icon>lens_blur</mat-icon>
                            Materials
                        </mat-label>
                        <mat-slider thumbLabel tickInterval="1" min="0" max="5" step="1" [disabled]="disabledSliders">
                            <input matSliderThumb [(ngModel)]="sliderValues.value4">
                        </mat-slider>
                        <span class="score-slider">{{sliderValues.value4}}</span>
                    </div>

                    <div class="slider-container">
                        <mat-label>
                            <mat-icon>bolt</mat-icon>
                            Energy
                        </mat-label>
                        <mat-slider thumbLabel tickInterval="1" min="0" max="5" step="1" [disabled]="disabledSliders">
                            <input matSliderThumb [(ngModel)]="sliderValues.value5">
                        </mat-slider>
                        <span class="score-slider">{{sliderValues.value5}}</span>
                    </div>

                    <div class="slider-container">
                        <mat-label>
                            <mat-icon>device_hub</mat-icon>
                            Logistics
                        </mat-label>
                        <mat-slider thumbLabel tickInterval="1" min="0" max="5" step="1" [disabled]="disabledSliders">
                            <input matSliderThumb [(ngModel)]="sliderValues.value6">
                        </mat-slider>
                        <span class="score-slider">{{sliderValues.value6}}</span>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title class="font-13 bold uppercase">
                            <mat-icon>tune</mat-icon>
                            Information management
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="slider-container">
                        <mat-label>
                            <mat-icon>sensors</mat-icon>
                            Sensing
                        </mat-label>
                        <mat-slider thumbLabel tickInterval="1" min="0" max="5" step="1" [disabled]="disabledSliders">
                            <input matSliderThumb [(ngModel)]="sliderValues.value7">
                        </mat-slider>
                        <span class="score-slider">{{sliderValues.value7}}</span>
                    </div>

                    <div class="slider-container">
                        <mat-label>
                            <mat-icon>memory</mat-icon>
                            Processing
                        </mat-label>
                        <mat-slider thumbLabel tickInterval="1" min="0" max="5" step="1" [disabled]="disabledSliders">
                            <input matSliderThumb [(ngModel)]="sliderValues.value8">
                        </mat-slider>
                        <span class="score-slider">{{sliderValues.value8}}</span>
                    </div>

                    <div class="slider-container">
                        <mat-label>
                            <mat-icon>insights</mat-icon>
                            Actuator
                        </mat-label>
                        <mat-slider thumbLabel tickInterval="1" min="0" max="5" step="1" [disabled]="disabledSliders">
                            <input matSliderThumb [(ngModel)]="sliderValues.value9">
                        </mat-slider>
                        <span class="score-slider">{{sliderValues.value9}}</span>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title class="font-13 bold uppercase">
                            <mat-icon>connect_without_contact</mat-icon>
                            Organization management
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="slider-container">
                        <mat-label>
                            <mat-icon>groups</mat-icon>
                            Organization
                        </mat-label>
                        <mat-slider thumbLabel tickInterval="1" min="0" max="5" step="1" [disabled]="disabledSliders">
                            <input matSliderThumb [(ngModel)]="sliderValues.value10">
                        </mat-slider>
                        <span class="score-slider">{{sliderValues.value10}}</span>
                    </div>

                    <div class="slider-container">
                        <mat-label>
                            <mat-icon>public</mat-icon>
                            Impact
                        </mat-label>
                        <mat-slider thumbLabel tickInterval="1" min="0" max="5" step="1" [disabled]="disabledSliders">
                            <input matSliderThumb [(ngModel)]="sliderValues.value11">
                        </mat-slider>
                        <span class="score-slider">{{sliderValues.value11}}</span>
                    </div>

                    <div class="slider-container">
                        <mat-label>
                            <mat-icon>auto_awesome</mat-icon>
                            Compliance
                        </mat-label>
                        <mat-slider thumbLabel tickInterval="1" min="0" max="5" step="1" [disabled]="disabledSliders">
                            <input matSliderThumb [(ngModel)]="sliderValues.value12">
                        </mat-slider>
                        <span class="score-slider">{{sliderValues.value12}}</span>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title class="font-13 bold uppercase">
                            <mat-icon>auto_fix_high</mat-icon>
                            Innovation management
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="slider-container">
                        <mat-label>
                            <mat-icon>model_training</mat-icon>
                            Innovation
                        </mat-label>
                        <mat-slider thumbLabel tickInterval="1" min="0" max="5" step="1" [disabled]="disabledSliders">
                            <input matSliderThumb [(ngModel)]="sliderValues.value13">
                        </mat-slider>
                        <span class="score-slider">{{sliderValues.value13}}</span>
                    </div>

                    <div class="slider-container" fxLayout="row">
                        <mat-label fxLayout="row">
                            <mat-icon>attribution</mat-icon>
                            <span style="margin-left: 3px;">Intellectual property</span>
                        </mat-label>
                        <mat-slider thumbLabel tickInterval="1" min="0" max="5" step="1" [disabled]="disabledSliders">
                            <input matSliderThumb [(ngModel)]="sliderValues.value14">
                        </mat-slider>
                        <span class="score-slider">{{sliderValues.value14}}</span>
                    </div>

                    <div class="slider-container">
                        <mat-label>
                            <mat-icon>psychology</mat-icon>
                            Training
                        </mat-label>
                        <mat-slider thumbLabel tickInterval="1" min="0" max="5" step="1" [disabled]="disabledSliders">
                            <input matSliderThumb [(ngModel)]="sliderValues.value15">
                        </mat-slider>
                        <span class="score-slider">{{sliderValues.value15}}</span>
                    </div>

                </mat-expansion-panel>

            </mat-accordion>

        </div>

        <div style="margin-top: 30px; margin-right: 50px;flex: 1;">

            <div #chartContainer style="text-align: center;"></div>

            <div fxLayout="row" style="margin: 0 0 10px 40px;">

                <mat-form-field appearance="fill" style="margin-right: 5px;flex:1;">
                    <mat-label>Show country IMI</mat-label>

                    <mat-chip-grid #countryList>
                        <mat-chip-row class="country-chip" *ngFor="let country of selectedCountries" [removable]="true" (removed)="removeCountry()">
                            {{country}}
                            <mat-icon matChipRemove style="color: white;opacity: 0.75;">cancel</mat-icon>
                        </mat-chip-row>
                    </mat-chip-grid>

                    <input #countryInput matInput
                            placeholder="Type country"
                            [matChipInputFor]="countryList"
                            [formControl]="myControl1"
                            [matAutocomplete]="autoCountries">

                    <mat-autocomplete #autoCountries="matAutocomplete" (optionSelected)="selectCountry($event)">
                        <mat-option *ngFor="let country of filteredCountries | async" [value]="country">
                            {{country}}
                        </mat-option>
                    </mat-autocomplete>

                </mat-form-field>

                <mat-form-field appearance="fill" style="flex:1;">
                    <mat-label>Show industry sector IMI</mat-label>

                    <mat-chip-grid #industryList>
                        <mat-chip  class="industry-chip" *ngFor="let industry of selectedIndustries" [removable]="true" (removed)="removeIndustry()">
                            {{industry}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-grid>

                    <input #industryInput matInput
                            placeholder="Type industry sector"
                            [matChipInputFor]="industryList"
                            [formControl]="myControl2"
                            [matAutocomplete]="autoIndustries">

                    <mat-autocomplete #autoIndustries="matAutocomplete" (optionSelected)="selectIndustry($event)">
                        <mat-option *ngFor="let industry of filteredIndustries | async" [value]="industry">
                            {{industry}}
                        </mat-option>
                    </mat-autocomplete>

                </mat-form-field>
            </div>
        </div>

    </mat-card-content>

</mat-card>
